@use "../../../variables";

.storedGame {
  width: 100%;
  height: 30rem;
  background-color: variables.$backgroundColor1;
  border-radius: 9px;
  color: variables.$textColorWhite;
  font-size: 1.6rem;
  .storedGameImage {
    width: 100%;
    height: 20rem;
    border-radius: 9px;
  }
  .storedGameDetailsAndCTA {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    height: 10rem;
    .storedGameDetails {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      p span {
        color: grey;
      }
      .storedGameName {
        font-size: 1.8rem;
      }
    }
    .storedGameCTA {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: variables.$backgroundColor;
      border-radius: 9px;
      z-index: 1000;
      width: 2.5rem;
      height: 2.5rem;
      img {
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 9px;
      }
    }
    .storedGameCTA:hover {
      transition-duration: 0.01s;
      border: 1px solid white;
      background-color: black;
    }
  }
}

.storedGame:hover {
  .storedGameImage {
    transition: 0.15s;
    transform: scale(105%);
  }
}
