@use "././../../variables";

.errorPage {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  background-color: variables.$backgroundColor;
  color: variables.$textColorWhite;
  font-size: 2rem;
}

#errorLinkToHome {
  color: variables.$textColorWhite;
}
#errorLinkToHome:hover {
  text-decoration: underline;
}
